/** Center and change font size of results */
.results {
    text-align: center;
    font-size: 28px;
    color: black;
}

.player-card {
    text-align: center;
    display: grid;
    columns: 4;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.btn-primary {
    width: 524px;
}










